body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
  }
  
  p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .18em;
    text-align: center;
    padding-top: 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  .brand {
    text-align: center;
  }
  
  .brand img {
    width: 50px;
  }
  
  .p1:hover, .p2:hover {
      opacity: .3;
    cursor: pointer;
  }
  
  h4 {
      color: grey;
      font-size: 24px;
      font-weight: 400;
  }
  
  #portfolio p {
      color: grey;
      font-size: 12px;
      font-weight: 200;
  }
  
  .content1 {
      width: 100%;
      margin: 0 auto;
      padding: 0px;
      text-align: center;
  }
  
  .single-content img {
      width: 290px;
      height: 100%;
      margin: 10px;
  }
  
  .filters {
      width: 100%;
      text-align: center;
  }
  
  ul {
      list-style: none;
      padding: 20px 0;
  }
  
  li {
      display: inline;
      padding: 10px 25px;
      font-size: 14px;
      color: #636363;
      font-weight: 400;
      cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2em;
  }
  
  li:hover {
      color: #a6a6a6;
  }
  
  li.active {
      color: #ccc;
      border: 1px solid #ccc;
      border-radius: 15px;
  }